.card-body{
    cursor: pointer;


}
.card{
    transition: .3s;
    background-color: #ec407a;
}
.card:hover{
  transform: scale(1.1);
}
.box{
    border-style: double;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
