@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-area{
    margin-bottom:-20px;
}
.menu-area a{
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #50fcd1;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

}
.menu-area a:hover{
    background: #4ff7db;
}
.menu-area ul{
    list-style: none;
    display: flex;
}

.menu-area ul li{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 99;

}

.menu-area li:hover .dropdown li{
    top: 0;
    visibility: visible;
}
.dropdown li{
    visibility: hidden;
}

.dropdown ul li{
    display: none;
    position: relative;
}
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
    z-index: 99;
}

#logo{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: color;
}
#test{
    background:red;
}