.profile-card{
    background-color:#942323;
    color: #fff;
    padding: 100px;
    border-radius: 100px;
    position: absolute;
    left: 43%;
    top: 50%;
    font-size: 100px;
    font-weight: bold;
}